:root {
    --header-font-size: 40px;
    --header-font-family: 'Montserrat', sans-serif;
    --header-color: #333333;
    --nav-font-size: 18px;
    --nav-font-family: 'Lato', sans-serif;
    --nav-color: #666666;
    --main-title-font-size: 70px;
    --main-title-font-family: 'Poppins', sans-serif;
    --main-title-color: #000000;
    --subheading-font-size: 24px;
    --subheading-font-family: 'Lato', sans-serif;
    --subheading-color: #555555;
    --body-text-font-size: 16px;
    --body-text-font-family: 'Open Sans', sans-serif;
    --body-text-color: #444444;
    --button-font-size: 18px;
    --button-font-family: 'Montserrat', sans-serif;
    --button-color: #FFFFFF;
    --button-background:#1E90FF;
    --header-padding-top: 20px;
    --main-title-padding-top: 10px;
    --subheading-padding-top: 10px;
    --body-text-line-height: 1.5;

    --mobile-header-font-size: 24px;
    --mobile-nav-font-size: 16px;
    --mobile-main-title-font-size: 36px;
    --mobile-subheading-font-size: 20px;
    --mobile-body-text-font-size: 14px;
    --mobile-button-font-size: 16px;
    --mobile-header-padding-top: 15px;
    --mobile-main-title-padding-top: 30px;
    --mobile-subheading-padding-top: 15px;
    --mobile-body-text-line-height: 1.2;
}

body {
    margin: 0;
    font-family: var(--body-text-font-family);
    color: var(--body-text-color);
}

header {
    background: #fff;
    padding: var(--header-padding-top) 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: var(--header-font-size);
    font-family: var(--header-font-family);
    color: var(--header-color);
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    font-size: var(--nav-font-size);
    font-family: var(--nav-font-family);
    color: var(--nav-color);
    position: relative;
}

.nav-list a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.nav-list a:hover::after {
    background-color: var(--nav-color);
}

.call-to-action {
    font-size: var(--button-font-size);
    font-family: var(--button-font-family);
    color: var(--button-color);
    background-color: var(--button-background) !important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .fas {
    font-size: 24px;
    color: var(--header-color);
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: var(--main-title-font-size);
    font-family: var(--main-title-font-family);
    color: var(--main-title-color);
    padding-top: var(--main-title-padding-top);
    padding-top: 20px;
}

.hero p {
    font-size: var(--subheading-font-size);
    font-family: var(--subheading-font-family);
    color: var(--subheading-color);
    margin-top: -50px;
    padding-top: var(--subheading-padding-top);
    line-height: var(--body-text-line-height);
}

.cta-buttons {
    margin-top: 10px;
}

.btn {
    font-size: var(--button-font-size);
    font-family: var(--button-font-family);
    color: var(--button-color);
    background-color: var(--button-background) !important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.btn i {
    margin-right: 8px;
}

.btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.75s ease;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
}

.btn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}


@media (max-width: 768px) {
    .container {
        justify-content: space-between;
    }

    nav,
    .call-to-action {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hero {
        padding: 40px 20px;
    }

    .hero h1 {
        font-size: var(--mobile-main-title-font-size);
        padding-top: var(--mobile-main-title-padding-top);
        margin-bottom: 60px;
    }

    .hero p {
        font-size: var(--mobile-subheading-font-size);
        padding-top: var(--mobile-subheading-padding-top);
        line-height: var(--mobile-body-text-line-height);
        
    }

    .btn {
        font-size: var(--mobile-button-font-size);
    }

    .cta-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cta-buttons .btn {
        margin: 10px 0;
    }
}

.video-section {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 2%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: black;
    padding: var(--spacing-medium);
    border-radius: 5px;
    animation: fade-in-out 12s linear infinite;
}

.text-slide {
    display: none;
    font-size: 55px;
    font-weight: 700;
    color: white;
    font-family: var(--main-title-font-family);
}

@keyframes fade-in-out {
    0%, 43.33%, 100% { opacity: 3; }
    26.67%, 50% { opacity: 3; }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .text-container {
        padding: var(--spacing-medium);
    }

    .text-slide {
        font-size: 24px;
    }
}

.about-section {
    height: 80vh;  
    padding: 60px 20px;
    padding-bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.about-content {
    display: flex;
    align-items: flex-start;
    margin-top: -200px;
}

.about-content h2 {
    font-size: 1rem;
    color: #333;
    margin-left: 50px;
    margin-top: -20px;
    white-space: nowrap; 
}

.description-cta {
    text-align: left;
    margin-left: 200px; 
    margin-top: -50px;
    flex-grow: 1;
}

.description-cta p {
    font-size: 2rem; 
    color: #555;
    margin-bottom: 5px;
    font-weight: 500;
}

.description-cta .cta-buttons {
    display: flex;
    justify-content: flex-start; 
    gap: 20px;
}

.logo-section {
    background-color: #fff;
    margin-top: -200px;
    padding: 20px 20px;
    text-align: center;
}

.logo-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    position: relative;
}

.logo-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.logo-item img {
    max-width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo-item:hover img {
    transform: scale(1.1);
}

.logo-item::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.logo-item:hover::before {
    opacity: 1;
}

@media (max-width: 768px) {
    .about-content {
        margin-top: 0;
    }
    
    .about-content h2 {
        margin-left: 0;
        margin-top: 0;
        text-align: left;
    }
    
    .description-cta {
        margin-left: 0;
        margin-top: 20px;
    }
    
    .logo-section {
        margin-top: 0;
    }

    .logo-item img {
        max-width: 100px;
    }

    .logo-grid {
        gap: 20px;
    }
}
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0px;
    }

    .about-content h2 {
        font-size: .9rem;
        margin-bottom: -30px;
        margin-left: 0;
    }

    .description-cta {
        margin-left: 0;
    }

    .description-cta p {
        font-size: 1.5rem;
    }

    .description-cta .cta-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .call-to-action {
        display: none;
    }
}